<div>
    <h1>User overview and management</h1>
    <p> Hello {{{this.username}}} </p>
    <br />
</div>

<div>
    <h2>Users will expire soon!</h2>
</div>

<table class="table table-condensed">
    <thead class="thead-dark">
        <tr>
            <th scope="col">UserID</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Valid until</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <th scope="row">{{this.UserID}}</th>
            <td>{{this.username}}</td>
            <td>{{this.temporaryRole}}</td>
            <td>{{this.endDate}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>